
@font-face {
    font-family: "NoelFont";
    src: url(fonts/NoelFont.otf);
}

@font-face {
    font-family: "LyricFont";
    src: url(fonts/LyricFont.otf);
}

@font-face {
    font-family: "OasisFont";
    src: url(fonts/Oasisfont.otf);
}

@font-face {
    font-family: "ReenieBeanie";
    src: url(fonts/ReenieBeanie.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    background-color: hsl(0, 1%, 25%);
    padding: 0;
    margin: 0;
    justify-content: space-around;
    font-family: "NoelFont";
    font-size: 32px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: black;
    .navbar a:hover {
        color: #ffcc00; /* Change text color on hover */
        background-color: rgba(255, 204, 0, 0.2); /* Add a subtle background highlight */
        transition: all 0.3s ease-in; /* Smooth transition for color and background */
    }
}

.footer {
    display: flex;
    background-color: hsl(0, 1%, 25%);
    padding: 10px;
    margin-top: auto;
}

.footer img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 10px;
}

.footer p {
    font-family: "NoelFont";
    font-size: 20px;
    margin-left: auto;
    margin-right: 10px;
}


a {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: white;
    background-color: blue;
    
}