

@media (max-width: 768px) {
    .track-content-container {
        flex-direction: column; /* Stack Track Listing and Release Notes vertically on small screens */
    }

    .track-main-content, .track-sub-content {
        flex: 1;
        margin-bottom: 20px; /* Space between sections when stacked */
    }
}



.main{
    display: flex;
    align-items: flex-start;
}



#Band-Title {
    font-family: "OasisFont", sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

#Definitely-Maybe {
    font-family: "Definitely-Maybe", sans-serif;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.track-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "OasisFont", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.icon {
    color: #ffffff;
    width: 50px;
    height: 50px;
}


.track-content-container {
    display: flex;
    
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}

/* Track Listing: Take up majority of the space (70%) */
.track-main-content {
    flex: 7; /* 70% of the container */
    padding-right: 20px; /* Space between track listing and release notes */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(Images/Sifters_01.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border: 1px solid #ccc; /* Light border around track listing */
    border-radius: 20px;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.1);
    
}

/* Release Notes: Take up 30% of the space */
.track-sub-content {
    flex: 3; /* 30% of the container */
    padding-left: 20px; /* Space between release notes and track listing */
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Optional styling for the release notes */
.release-notes {
    font-family: "OasisFont", sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 1.6;
}

.release-notes-title {
    font-family: "OasisFont", sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.release-notes p {
    font-size: 18px; /* Slightly larger for readability */
    line-height: 1.7; /* Increased line height for spacing */
    letter-spacing: 0.5px; /* Adds a bit of breathing room between letters */
    text-align: justify;
    margin: 25px;
}

.track-main-content:hover, .track-sub-content:hover {
    transform: translateY(-2px); /* Slight upward movement */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}