@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* Stack elements vertically */
    }
}

#MainTitle {
    font-family: "NoelFont";
    font-size: 38px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

#SubTitle {
    font-family: "NoelFont";
    font-size: 38px;
    color: rgb(34, 33, 33);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}


#MainTitle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Subtle shadow behind text */
    background-color: rgba(0, 0, 0, 0.5); /* Dark translucent background */
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}


.news-heading {
    font-family: "OasisFont";
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 15px;
}

.news-article {
    font-family: "OasisFont";
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #333;
}

.content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 100vh;
}

.main-content:hover, .sub-content:hover {
    transform: translateY(-5px); /* Small upward movement */
    transition: all 0.3s ease; /* Smooth animation */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.main-content, .sub-content {
    margin-left: 5px;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    border-radius: 20px;
}

.main-content {
    
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(Images/IMG_0430.JPEG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.sub-content {
    flex: 40%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(Images/Liam.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-color: rgba(240, 248, 255, 0.9); 
    background-blend-mode: overlay;
}

.main-content:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly brighten on hover */
}


.sub-content:hover {
    background-color: rgba(240, 255, 255, 0.95); /* Lighten color on hover */
}