
#Page-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Poole {
    display: flex;
    width: 100%;
    height:auto;
}

#banner {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    text-align: right;
    color: white;
}

#banner h1 {
    font-family: "NoelFont", sans-serif;
    font-size: 85px;
}

#banner h2 {
    font-family: "NoelFont", sans-serif;
    font-size: 65px;
}

.button-container {
    margin-top: 20px; /* Space between headings and button */
}

.button {
    font-family: "NoelFont";
    background-color: #007bff; /* Or the color you want */
    color: white;
    border: none;
    padding: 10px 20px; /* Proper padding for a button */
    font-size: 26px; /* Adjust font size */
    cursor: pointer;
    border-radius: 5px; /* For rounded corners, optional */
    text-align: center;
    width: auto;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3; /* Slightly darker color on hover */
}

.button:active {
    background-color: #004085; /* Darker when button is pressed */
}